/* Main Layout */
.cart-icon {
  font-size: 3rem;
}

/* Home */

.category a {
  text-decoration: none;
  color: black;
}

.category-items {
  transition: all 200ms ease-in-out;
}

.category-items:hover {
  transform: scale(1.1);
}

.category-items > div {
  width: 100%;
  height: 100%;
}

.category-items i {
  font-size: 2.2rem;
}

.category {
  flex-direction: column;
  height: 90vh;
  padding: 3rem 0;
}

.category-items {
  max-width: 17rem;
  width: 100%;
  height: 100%;
}

@media (min-width: 786px) {
  .category {
    height: 60vh;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .category-items {
    height: 9rem;
    width: 30%;
    font-size: 1.3rem;
    text-decoration: none;
  }
}

/* Category */

.category-container {
  flex-direction: column;
}

@media (min-width: 768px) {
  .category-container {
    flex-direction: row;
  }

  .filter-box {
    width: 30%;
    max-width: 18rem;
  }

  .category-box {
    width: 70%;
  }
}

@media (min-width: 995px) {
  .filter-box {
    width: 25%;
  }

  .category-box {
    width: 75%;
  }
}

.product-box {
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 2rem;
}

@media (min-width: 995px) {
  .product-box {
    flex-direction: row;
    justify-content: flex-start;
    gap: 3rem;
    padding-left: 3rem;
  }
}

.productImage {
  width: 10rem;
}

.delivery-status,
.stock-status {
  font-style: italic;
}

.price,
.stock-status {
  font-weight: bold;
}
.add-to-cart,
.pay,
.increase-btn,
.decrease-btn {
  transition: opacity 300ms ease-in-out;
}

.add-to-cart:hover,
.pay:hover,
.increase-btn:hover,
.decrease-btn:hover {
  opacity: 0.9;
}

.checkbox {
  width: 1rem;
  height: 1rem;
}

/* Checkout */

.checkoutImage {
  width: 10rem;
}

.checkoutText {
  width: 100%;
}

.decrease-btn,
.increase-btn {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.total {
  font-size: 1.2rem;
  font-style: italic;
}

.dark {
  font-weight: bold;
}

@media (max-width: 590px) {
  .checkbox-sub-box {
    flex-direction: column;
  }

  .checkbox-heading {
    text-align: center;
  }

  .checkoutText {
    align-items: center;
  }

  .checkoutImage {
    width: 25rem;
  }
}
